.Chubuk {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.Chubuk .selectedVizType {
  background-color: lightgray;
  border-color: gray;
  box-shadow: 1px 1px 1px black;
}
.Chubuk > .configPanel {
  display: block;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0px;
  bottom: -80px;
  z-index: 200;
  width: 100%;
  border-radius: 5px;
  border: solid 1px lightgray;
  margin: 0px;
  background-color: rgba(238, 238, 238, 0.9);
}
.Chubuk > .configPanel[active="false"] {
  border: solid 0px lightgray;
  margin: 1px;
}
.Chubuk > .configPanel[active="false"] > .selectVizType {
  display: none;
}
.Chubuk > .configPanel[active="false"] > .configGroup {
  display: none;
}
.Chubuk > .configPanel > .configVisiblityButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}
.Chubuk > .configPanel > .configVisiblityButton:hover {
  color: orangered;
}
.Chubuk > .configPanel > .selectVizType {
  padding: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.Chubuk > .configPanel > .selectVizType > .vizType {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: solid 1px lightgray;
  border-radius: 10px;
  text-align: center;
  margin: 1px 5px;
  cursor: pointer;
}
.Chubuk > .configPanel > .selectVizType > .vizType:hover {
  box-shadow: 1px 1px 1px black;
}
.Chubuk > .configPanel > .configGroup {
  border: solid 1px gray;
  border-radius: 8px;
  margin-left: 10px;
  padding: 2px 2px 2px 3px;
  display: inline-block;
  background-color: #EEE;
}
.Chubuk > .configPanel > .configGroup > .configHeading {
  font-weight: 700;
  cursor: pointer;
  color: black;
}
.Chubuk > .configPanel > .configGroup > .configHeading:hover {
  color: orangered;
}
.Chubuk > .configPanel > .configGroup > .configOpt {
  display: inline-block;
  cursor: pointer;
  font-size: 0.8em;
  border: solid 1px lightgray;
  border-radius: 4px;
  padding: 0px 2px;
  background-color: white;
}
.Chubuk > .configPanel > .configGroup > .configOpt > .opt_label {
  margin-left: 2px;
  font-size: 0.9em;
}
.Chubuk > .configPanel > .configGroup > .configOpt:hover {
  color: orangered !important;
}
.Chubuk > .configPanel > .configGroup > .configOpt.dataDistr > input[type="radio"] {
  height: 12px;
  vertical-align: baseline;
  padding: 2px;
  margin: 0px;
}
.Chubuk > .configPanel > .configGroup > .configOpt.dataDistr > label {
  cursor: pointer;
}
.Chubuk > .configPanel > .configGroup > .configOpt.numItems .in_numItems {
  border-width: 0px;
  width: 35px;
}
.Chubuk > .configPanel > .configGroup > .configOpt.barHeightList {
  display: none;
}
.Chubuk > .configPanel > .configGroup > .configOpt.button_wrappedInverse {
  display: none;
}
.Chubuk > .configPanel > .configGroup > .configOpt.button_showColor {
  display: none;
}
.Chubuk > .configPanel > .configGroup > .configOpt.columnGap {
  display: none;
}
.Chubuk > .configPanel > .configGroup > .configOpt input:not([name="dist_mode"]) {
  border-width: 0px;
  width: 35px;
}
.Chubuk > .configPanel > .configGroup .refreshData {
  cursor: pointer;
}
.Chubuk > .configPanel > .configGroup .refreshData:hover {
  color: orangered;
}
.Chubuk > .configPanel > .configGroup[active="false"] > .configOpt {
  display: none !important;
}
.Chubuk > .configPanel > .configGroup[active="false"] > .configHeading {
  color: gray;
}
.Chubuk > .chartWrapper {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 10;
  overflow: visible;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Chubuk > .chartWrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Chubuk > .chartWrapper > .recordGroup {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Chubuk > .chartWrapper > .rowGroup {
  display: none;
}
.Chubuk > .chartWrapper > .rowGroup > .rowIndexLabel {
  text-align: right;
  position: absolute;
  right: 2px;
  font-weight: 100;
  font-size: 0.9em;
}
.Chubuk > .chartWrapper > .rowGroup > .rowIndexLabel:after {
  content: "#";
  color: gray;
  font-size: 0.6em;
  position: relative;
  top: -2px;
  margin-left: 1px;
}
.Chubuk .record {
  display: block;
  position: absolute;
  -webkit-transition: left 700ms ease-in-out, width 700ms ease-in-out, height 700ms ease-in-out, top 700ms ease-in-out;
  -moz-transition: left 700ms ease-in-out, width 700ms ease-in-out, height 700ms ease-in-out, top 700ms ease-in-out;
  -o-transition: left 700ms ease-in-out, width 700ms ease-in-out, height 700ms ease-in-out, top 700ms ease-in-out;
  transition: left 700ms ease-in-out, width 700ms ease-in-out, height 700ms ease-in-out, top 700ms ease-in-out;
}
.Chubuk .record > .block {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.Chubuk .record > .block:after {
  color: white;
  text-align: right;
  font-size: 10px;
  display: block;
  padding: 1px;
}
.Chubuk .record > .dot_tip {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  right: -5px;
  border-radius: 10px;
  border: solid 1px white;
  background-color: green;
  opacity: 0;
  box-shadow: 0px 0px 1px white;
  top: calc(50% - 5px);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 100;
}
.Chubuk .record > .label {
  position: absolute;
  left: 0%;
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  font-size: 0.8em;
  font-weight: 300;
  text-shadow: 0px 0px 2px white;
  z-index: 101;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}
.Chubuk .record:hover {
  z-index: 90 !important;
}
.Chubuk > .chartAxis {
  position: relative;
}
.Chubuk > .chartAxis > .scale {
  position: absolute;
}
.Chubuk > .chartAxis > .scale > .baseLine {
  border-bottom: solid 1px lightgray;
  position: absolute;
  top: 0px;
}
.Chubuk > .chartAxis > .scale > .tick {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  height: 10px;
}
.Chubuk > .chartAxis > .scale > .tick > .line {
  display: block;
  position: absolute;
  left: -1px;
  width: 0px;
  border-left: dotted 1px gray;
}
.Chubuk > .chartAxis > .scale > .tick[value="0"] > .line {
  border-left: solid 2px gray;
  left: -1px;
}
.Chubuk > .chartAxis > .scale > .tick[value="0"] > .text {
  font-weight: 700;
}
.Chubuk > .chartAxis > .scale > .tick[value="0"] > .text[textpos="upper"] {
  margin-top: -1px;
}
.Chubuk > .chartAxis > .scale > .tick > .text {
  display: block;
  position: relative;
  margin-top: 1px;
  cursor: pointer;
  left: -50%;
  text-align: center;
}
.Chubuk[chart_type="long_list"] .vizType.long_list {
  background-color: lightgray;
  border-color: gray;
  box-shadow: 1px 1px 1px black;
}
.Chubuk[chart_type="long_list"] .record > .block {
  background-color: #92C5E2;
}
.Chubuk[chart_type="long_list"] .record > .label {
  overflow: visible;
  text-overflow: none;
}
.Chubuk[chart_type="long_list"] > .chartAxis[lowerNegative="true"] .text-lower:before {
  content: "-";
}
.Chubuk[chart_type="long_list"] > .chartAxis[upperNegative="true"] .text-upper:before {
  content: "-";
}
.Chubuk[chart_type="long_list"] > .chartWrapper {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  margin-top: -1px;
  margin-bottom: -1px;
}
.Chubuk[chart_type="long_list"] > .chartWrapper > .recordGroup {
  overflow-y: auto;
}
.Chubuk[chart_type="long_list"] > .configPanel > .configGroup > .configOpt.barHeightList {
  display: inline-block;
}
.Chubuk[chart_type="long_list"] > .configPanel > .configGroup > .configOpt.numBands {
  display: none;
}
.Chubuk[chart_type="long_list"] > .configPanel > .configGroup > .configOpt.barPadding {
  display: none;
}
.Chubuk[chart_type="treemap"] .vizType.treemap {
  background-color: lightgray;
  border-color: gray;
  box-shadow: 1px 1px 1px black;
}
.Chubuk[chart_type="treemap"] .record {
  border: solid 1px white;
}
.Chubuk[chart_type="treemap"] .record > .block {
  background-color: #92C5E2;
}
.Chubuk[chart_type="treemap"] .record > .block:after {
  text-align: center;
}
.Chubuk[chart_type="treemap"] .record > .label {
  text-align: center;
}
.Chubuk[chart_type="treemap"] > .chartAxis {
  display: none;
}
.Chubuk[chart_type="treemap"] > .chartWrapper {
  border-top: none;
  border-bottom: none;
}
.Chubuk[chart_type="treemap"] > .chartWrapper > .rowGroup > .rowIndexLabel {
  display: none;
}
.Chubuk[chart_type="treemap"] > .configPanel > .configGroup > .configOpt.numBands {
  display: none;
}
.Chubuk[chart_type="treemap"] > .configPanel > .configGroup > .configOpt.barPadding {
  display: none;
}
.Chubuk[chart_type="treemap"] > .configPanel > .configGroup > .configOpt.button_showTinyBar {
  display: none;
}
.Chubuk[chart_type="treemap"] > .configPanel > .configGroup > .configOpt.button_showTip {
  display: none;
}
.Chubuk[chart_type="treemap"] > .configPanel > .configGroup > .configOpt.button_showGridLines {
  display: none;
}
.Chubuk[chart_type="piled_bars"] .vizType.piled_bars {
  background-color: lightgray;
  border-color: gray;
  box-shadow: 1px 1px 1px black;
}
.Chubuk[chart_type="piled_bars"] .record > .block {
  top: 0px;
  border-style: solid;
  border-width: 1px 0px;
}
.Chubuk[chart_type="piled_bars"] .record[isNegative="false"] {
  box-shadow: 4px 0px 5px 0px #ffffff;
}
.Chubuk[chart_type="piled_bars"] .record[isNegative="false"] > .label {
  text-align: right;
  left: auto;
  right: 0%;
}
.Chubuk[chart_type="piled_bars"] .record[isNegative="true"] {
  box-shadow: -4px 0px 5px 0px #ffffff;
  border-right: 0px;
}
.Chubuk[chart_type="piled_bars"] .record[isNegative="true"] .dot_tip {
  left: -7px;
  right: auto;
}
.Chubuk[chart_type="wrapped_bars"] .vizType.wrapped_bars {
  background-color: lightgray;
  border-color: gray;
  box-shadow: 1px 1px 1px black;
}
.Chubuk[chart_type="wrapped_bars"] .record > .block {
  background-color: #92C5E2;
}
.Chubuk[chart_type="wrapped_bars"] .record[isNegative="true"] > .label {
  position: absolute;
  right: 0%;
  width: 100%;
  padding-right: 2px;
  padding-left: 0px;
  padding-top: 2px;
  text-align: right;
}
.Chubuk[chart_type="wrapped_bars"] .record[isNegative="true"] > .dot_tip {
  left: -7px;
  right: auto;
}
.Chubuk[chart_type="wrapped_bars"] > .configPanel > .configGroup > .configOpt.button_wrappedInverse {
  display: inline-block;
}
.Chubuk[chart_type="wrapped_bars"] > .configPanel > .configGroup > .configOpt.columnGap {
  display: inline-block;
}
.Chubuk[showTip="true"] .dot_tip {
  opacity: 1;
}
.Chubuk[showTip="true"] .button_showTip > .fa:before {
  content: "\f06e";
}
.Chubuk[showTip="false"] .button_showTip {
  color: gray;
}
.Chubuk[showTip="false"] .button_showTip > .fa:before {
  content: "\f070";
}
.Chubuk[showLabel="true"] .label {
  display: block;
}
.Chubuk[showLabel="true"] .button_showLabel > .fa:before {
  content: "\f06e";
}
.Chubuk[showLabel="false"] .label {
  display: none;
}
.Chubuk[showLabel="false"] .button_showLabel {
  color: gray;
}
.Chubuk[showLabel="false"] .button_showLabel > .fa:before {
  content: "\f070";
}
.Chubuk[showColor="true"] .button_showColor {
  background-color: rgba(255, 69, 0, 0.5) !important;
  color: white;
}
.Chubuk[showColor="true"] .button_showColor > .fa:before {
  content: "\f058";
}
.Chubuk[showColor="true"] .record[isNegative="true"] > .block {
  background-color: #ef8a62;
}
.Chubuk[showColor="false"] .button_showColor {
  background-color: rgba(255, 69, 0, 0.13) !important;
  color: gray;
}
.Chubuk[showColor="false"] .button_showColor > .fa:before {
  content: "\f057";
}
.Chubuk[showTooltip="true"] .button_showTooltip > .fa:before {
  content: "\f06e";
}
.Chubuk[showTooltip="false"] .button_showTooltip {
  color: gray;
}
.Chubuk[showTooltip="false"] .button_showTooltip > .fa:before {
  content: "\f070";
}
.Chubuk[showTinyBar="true"] .button_showTinyBar > .fa:before {
  content: "\f058";
}
.Chubuk[showTinyBar="false"] .button_showTinyBar {
  color: gray;
}
.Chubuk[showTinyBar="false"] .button_showTinyBar > .fa:before {
  content: "\f057";
}
.Chubuk[showGridLines="true"] .button_showGridLines > .fa:before {
  content: "\f058";
}
.Chubuk[showGridLines="false"] .button_showGridLines {
  color: gray;
}
.Chubuk[showGridLines="false"] .button_showGridLines > .fa:before {
  content: "\f057";
}
.Chubuk[showGridLines="false"] > .chartAxis > .scale > .tick > .text {
  display: none;
}
.Chubuk[showGridLines="false"] > .chartAxis > .scale > .tick:not([value="0"]) > .line {
  display: none;
}
.Chubuk[wrappedInverse="true"] .button_wrappedInverse > .fa:before {
  content: "\f058";
}
.Chubuk[wrappedInverse="false"] .button_wrappedInverse {
  color: gray;
}
.Chubuk[wrappedInverse="false"] .button_wrappedInverse > .fa:before {
  content: "\f057";
}
.Chubuk .negativeRatio {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Chubuk[datanegative="true"] .config_datanegative > .fa:before {
  content: "\f058";
}
.Chubuk[datanegative="true"] .negativeRatio {
  display: inline-block;
  width: 50px;
  height: 10px;
}
.Chubuk[datanegative="true"] > .configPanel > .configGroup > .configOpt.button_showColor {
  display: inline-block;
}
.Chubuk[datanegative="false"] .config_datanegative {
  color: gray;
}
.Chubuk[datanegative="false"] .config_datanegative > .fa:before {
  content: "\f057";
}
.Chubuk[datanegative="false"] .negativeRatio {
  display: none;
}
.Chubuk[showTinyBar="true"]:not([type="treemap"]) .record > .block {
  height: 2px;
  top: calc(50% - 1px);
}
.tipsy {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
  pointer-events: none;
}
.tipsy .tipsy-inner {
  padding: 3px;
  font-size: 1.2em;
  background-color: #000;
  color: #FFF;
  max-width: 200px;
  text-align: center;
  font-weight: 300px;
  border-radius: 3px;
}
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
